section.menuLauncher.superCenterer.container-fluid.p-0
    article.menuCardCase.row
        div.item.menuCard.col-md-3.col-9
            img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/rkUJERvsjnwgeHVHcMaVdDlR').fancyTop
            div.fancyGemCase 
                img(src='/images/spoon.png').superCenterer.fancyGem
            div#dish1.menuCardDishCase
            h1 #{bMeal}
            h2 #{bDays}
            h2 #{bTimes}
            aside
                p #{bInfo}
            button.btn.btn-primary(onclick='location.href="/menus/breakfast";' value="Go to Breakfast Menu") Menu
            img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/NFJQKhTdumlaqurTKWvjuYGA').fancyBottom
        div.item.menuCard.col-md-3.col-9
            img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/rkUJERvsjnwgeHVHcMaVdDlR').fancyTop
            div.fancyGemCase 
                img(src='/images/knife.png').superCenterer.fancyGem
            div#dish2.menuCardDishCase
            h1 #{lMeal}
            h2 #{lDays}
            h2 #{lTimes}
            aside
                p #{lInfo}
            button.btn.btn-primary(onclick='location.href="/menus/lunch";' value="Go to Lunch Menu") Menu
            img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/NFJQKhTdumlaqurTKWvjuYGA').fancyBottom
        div#lastMenuInLauncher.item.menuCard.col-md-3.col-9
            img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/rkUJERvsjnwgeHVHcMaVdDlR').fancyTop
            div.fancyGemCase 
                img(src='/images/fork.png').superCenterer.fancyGem
            div#dish3.menuCardDishCase
            h1 #{dMeal}
            h2 #{dDays}
            h2 #{dTimes}
            aside
                p #{dInfo}
            button.btn.btn-primary(onclick='location.href="/menus/dinner";' value="Go to Dinner Menu") Menu
            img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/NFJQKhTdumlaqurTKWvjuYGA').fancyBottom